@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    font-family: 'Archivo Black', sans-serif;
    font-size: larger;
    font-weight: bolder;
    padding: 20px 250px ;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}


.nav-links{
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}


.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 5px;
    transition:  all 0.3s ease;
}
h6{
    font-size: 13px;
    text-align: center;
}
p{
    font-size: 11px;
    text-align: center;
}
a{
    transition: 0.5s;
}
a:hover, 
a:active {color: #c7c7c7}
.container {
    display: flex;
    font-family:  'Secular One', sans-serif;
    font-weight:normal;
    font-size: medium;
}

.container__sidebar {
    
    padding: 30px;
    width: 20%;
}
/*დროპდაუნ მენიუ*/
.accordion {
    list-style: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
  
.active, .accordion:hover {
    background-color: transparent;
}
  
.accordion:after {
    content: '\002B';
    color: rgb(0, 0, 0);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
}
  
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items:baseline ;
    padding: 0 0  15px 0;
    justify-content: space-between;
    list-style: none;
}
li{
    margin: 4px 0;
  }
.container__main {
    padding: 25px;

    /* ჩამოსქროლებადი */
    overflow: auto;
}
.flex-container {
    height: 100vh;
    width: 105vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    background-color: transparent;
}

.column {
    flex-direction: row;
}

.flex-item {
    flex: 1;
    padding: 5px;
    font-size: 5em;
}
.flex-item img{
    width: 25vh;
}
.bold{
    font-weight: bolder;
}
.footer {
    background-color: transparent;
    font-family:  'Secular One', sans-serif;
    /*ფუტერი*/
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 50px 250px ;
    position: relative;
    height: 10px;
    color: #000000;
    /* ფუტერის გაცენტრვა*/
    align-items: center;
    display: flex;
    justify-content: space-between;
}


.footer__content {
    font-family:  'Secular One', sans-serif;
    flex: 1;
}

.banner{
    display: flex;
}
.socials{

    list-style: none;

    display: flex;

    align-items: center;

    justify-content: center;

    margin: 1 rem 0 3rem 0;

}
.socials li{

    margin:0 10px;

}
  .socials a{

    text-decoration: none;

     color: rgb(0, 0, 0);

}
 .socials a i{

    font-size: 1.1rem;

    transition: color .4s ease;

}
 .socials a:hover i{

    color:#c7c7c7;

}
@media only screen and (max-width:1380px){
    body{
        padding:0;
    }
}

@media only screen and (max-width:1250px){
    body{
        padding:0;
    }
  
    .column {
        flex-direction: row;
    }
    .flex-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: flex-start;
        background-color: transparent;
    }
    
}

@media screen and (max-width:1024px){
    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 60%;
    }
    .nav-links a{
        font-size: 14px;
    }
    .footer{
        padding:30px;
    }
    .container__sidebar{
        float: left;
        width: 40%;
    }
}

@media only screen and (max-width: 768px) {
    body{
        padding:0;
        overflow-x:hidden ;
    }
    .container {
        display: block;
    }
    nav{
        padding: 30px 0;
    }

    .column {
        flex-direction: column;
    }

    .nav-links{
        border: 2px solid black;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        height: 80%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        
    }
    
    .no{
        display: none;
        opacity: 0;
    }

    h6{
        font-size: small;
        text-align: justify;
    }

    p{
        font-size:x-small;
        text-align:justify;
    }

    a{
        transition: 0.3s;
    }

    a:hover, 
    a:active {color: #ffffff}
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    .footer{
        padding:10px;
    }
    .container__main{
        float: left;
        width: 100%;
    }
    .flex-container{
        flex-direction: row;
    }
    .container__sidebar{
        padding: 20px;
        float: left;
        width: 100%;
    }

    * {
        --webkit-transition-property: all;
        --webkit-transition-duration: .2s;
      --moz-transition-timing-function: cubic-bezier(100,50,21,6);
        --moz-transition-property: all;
      --moz-transition-timing-function: cubic-bezier(100,50,21,6);
    }
    .style-1 {
        text-align: center;
    }
    .btn{
      color:rgb(0, 0, 0);
      background:rgb(255, 255, 255);
      padding:10px 20px;
      text-decoration:none;
      letter-spacing:2px;
      text-transform:uppercase;
    }
    
    .btn:hover{
      border:none;
      background:rgba(255, 255, 255, 0.4);
      background:rgb(0, 0, 0);
      padding:20px 20px rgb(255, 255, 255); 
      color: #ffffff;
      transition: all 0.3s;
    }
    .footer{
        
        bottom: 0;
        left: 0;
        width: 100%;
        position: relative;
        display: flex;
    }
    .flex-item img{
        width: 18vh;
    }
    .accordion{
        text-align: center;
    }
    .container h1{
        text-align: center;
    }
    
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
